.button {
  padding: 0.7rem 0.9rem;
  color: inherit;
  font-weight: 600;
  border: 2px solid rgba(var(--foreground));
  border-radius: 8px;
  cursor: pointer;
  background: transparent;
  transition: background var(--transition);
}

.button:hover {
  background: rgba(var(--foreground), 0.1);
}

.button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.button:disabled:hover {
  background: transparent;
}
