.button {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: none;
  padding: 0.7rem 0.9rem;
  color: inherit;
  font-weight: 600;
  cursor: pointer;
  background: rgba(var(--foreground), 0.1);
  transition: background var(--transition);
}

.button:hover {
  background: rgba(var(--foreground), 0.2);
}

.button svg {
  margin-top: 2px;
}
