.backdrop {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 2;
  background-color: rgba(var(--background), 0.9);
  height: 100vh;
  width: 100vw;
  transition: transform var(--transition);
}

@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .backdrop {
    background-color: transparent;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}

.drawer {
  height: 100%;
  width: min(75vw, 400px);
  box-shadow: -10px 10px 10px 0px rgba(var(--foreground), 0.1);
  background-color: rgba(var(--background));
  transition: background var(--transition);
  float: right;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.drawer > :nth-child(2) {
  margin: 10vh 0;
}

.open {
  transform: translateX(-100%);
}

.drawer > svg {
  height: 4rem;
}
