.container {
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;
  text-align: justify;
  display: flex;
  row-gap: 1.5rem;
}

.title {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgba(var(--foreground), 0.25);
}

.section {
  display: flex;
  flex-flow: column;
  row-gap: 0.7rem;
  width: 100%;
}

.card {
  display: flex;
  width: 100%;
  flex-flow: column;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(var(--foreground), 0.25);
  box-shadow: 0px 10px 15px rgba(var(--foreground), 0.1);
}

.card h4 {
  margin-bottom: 0.3rem;
}
