.container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.container > :not(:last-child) {
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  flex-flow: row;
}

.actions > :not(:last-child) {
  margin-right: 1rem;
}

.actions > button {
  width: 100%;
}

.buttons {
  display: flex;
  flex-flow: row;
}

.buttons > :not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 455px) {
  .actions {
    flex-flow: column-reverse;
  }

  .actions > :last-child {
    margin-bottom: 1rem;
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
