.footer {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(var(--foreground), 0.5);
}

@media (max-width: 455px) {
  .footer {
    font-size: 0.8rem;
  }
}
