.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 0 80px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: var(--header-height);
  background-color: rgba(var(--background), 0.9);
  transition: box-shadow var(--transition), transform var(--transition);
}

@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .container {
    background-color: transparent;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}

.hide {
  transform: translateY(-100%);
}

.shadow {
  box-shadow: 0 10px 30px -10px rgba(var(--foreground), 0.1);
}

.desktop {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.mobile {
  display: none;
}

@media (max-width: 880px) {
  .container {
    padding: 0 30px;
  }

  .mobile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .mobile > svg {
    height: 3rem;
  }

  .desktop {
    display: none;
  }
}
